body {
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 365px;
    border-radius: 15px;
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.qr-code-image {
    width: auto;
    height: auto;
    margin: 15px;
    border-radius: 15px;
}

.card-heading {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 1.5626rem;
}

.card-body {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 20px;
}

/* 365x585 */